@model IEnumerable<BusTicketBookingSystem.Models.RouteModel>

@{
    ViewBag.Title = "Index of Route";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OriginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Route?');" })
        </td>
    </tr>
}

</table>
