@model BusTicketBookingSystem.Models.ReservationModel

@{
    ViewBag.Title = "Create Reservation";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "")
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Search", "Reservation", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="container">
                    <div class="row col-md-6">
                        <fieldset>
                            <legend>Search for a bus</legend>
                        </fieldset>
                    </div>
                </div>
                <div class="container">
                    <div class="row col-md-6">
                        <div class="departure form-group">
                            @Html.LabelFor(model => model.BusOrigin, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <select id="departure-dropdown" name="Departure" class="form-control col-sm-9">
                                <option selected disabled>Choose a departure...</option>
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option value="@city.Name">
                                        @city.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row col-md-6">
                        <div class="arrival form-group">
                            @Html.LabelFor(model => model.BusDestination, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <select id="arrival-dropdown" name="Arrival" class="form-control col-sm-9">
                                <option selected disabled>Choose an arrival...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row col-md-6">
                        <div class="departure-time form-group form-inline">
                            @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control col-sm-6", @id = "departureDate" } })
                            <select id="departureTime" name="DepartureTimeHour" class="form-control col-sm-3">
                                @foreach (var hour in ViewBag.Hours)
                                {
                                    <option value="@hour.Value">
                                        @hour.Key
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row col-md-6">
                        <div class="form-group">
                            <button id="submit-btn" type="submit" class="btn btn-primary col-sm-offset-3 col-sm-6 col-xs-12">
                                <i class="material-icons small">&#xE8B6;</i> Search
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>
    var GLOBAL = {};

    GLOBAL.CITIES = @Html.Raw(ViewBag.CitiesJson) || [];
    </script>
    <script>
    $(function () {
      var minDate = moment().add(1, 'hours')
      maxDate = moment().add(13, 'days'),
      departureTimeDD = document.getElementById('departureTime'),
      departureDate = document.getElementById('departureDate');

      departureTimeDD.selectedIndex = minDate.hour();

      $(departureDate).datetimepicker({
        minDate: minDate,
        maxDate: maxDate,
        format: 'L',
        locale: 'id-ID',
        showClose: true,
        showClear: true,
        toolbarPlacement: 'top'
      });
    });
    </script>
    <script src="~/Scripts/Bus/index.js"></script>
}
