@model BusTicketBookingSystem.Models.ReservationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservationModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeat)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PurchasedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
