@{
    Layout = null;
}
@using BusTicketBookingSystem.Models.Ticket
@model PrintTicketViewModel 

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bus ticket (@Model.Departure -> @Model.Arrival)</title>
</head>
<body>
    <div>
        <h2>Train Ticket</h2>
        <p>Ticket ID: @Model.Id</p>
        <h3>Customer name: @Model.CustomerName</h3>
        <h3>Departure: @Model.Departure</h3>
        <h3>Arrival: @Model.Arrival</h3>
        <h3>Bus Name: @Model.BusName</h3>
        <h4>Date: @Model.DepartureTime.ToShortDateString()</h4>
        <h4>Hour: @Model.DepartureTime.ToString("HH:mm")</h4>
        <h4>Passengers: @Model.PassengersCount</h4>
        <h4>Price: @Html.DisplayFor(x => Model.Price)</h4>
        <h4>Class: @Html.DisplayFor(x => Model.BusClass)</h4>
        <p>Issued on: @Model.PurchasedOn.ToString() </p>
    </div>
    <a href="javascript:window.print()">Click to Print This Page</a>
</body>
</html>
